<h3> Página principal </h3>

<ul>
<% for i in 0..@artista.size-1 do %>
    <li><%= @artista[i].name %>
    <ul>
        <% @artista[i].albums.each do |alb|%>
                <li><%= alb.title %> </li>
        <% end %>
        </ul>    
    </li>
<% end %>
</ul>